.numbered-list > li {
  margin-bottom: 2rem;
  counter-increment: item;
  align-items: flex-start;
  row-gap: 1rem;
}

.numbered-item:before {
  margin-right: 1rem;
  content: counter(item, decimal-leading-zero);
  background: var(--secondary-clr);
  border-radius: 50vmax;
  padding: 0.5rem 1.5rem;
  width: 1rem;
  justify-content: center;
  display: inline-flex;
  color: white;
  height: 1.5rem;
  font-size: 1rem;
  align-items: center;
}
.numbered-item {
  position: relative;
  width: 100%;
}

.numbered-item-caption {
  padding-left: 4rem;
  min-width: 90%;
  color: var(--caption-clr);
}
h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
}
h3 {
  font-weight: 700;
}
@media (max-width: 50em) {
  .numbered-list > li {
    margin-top: 3rem;
  }
  .numbered-item-caption {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  .numbered-item:after {
    position: absolute;
    top: 0;
    left: 2rem;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--secondary-clr);
    z-index: 1;
    opacity: 0.2;
  }
}
