.button-inverted {
  background-color: white;
  color: var(--secondary-clr);
  border-radius: 100vmax;
  width: fit-content;
  border: none;
  height: fit-content;
}
.button-inverted:hover {
  background-color: #ea8e77;
  color: white;
  opacity: 0.8;
}
.no-shadow {
  box-shadow: none !important;
}

.footer {
  background-color: hsl(0, 0%, 12%);
  color: white;
  padding-bottom: 3.5rem;
  min-height: 20dvh;
  position: relative;
}
.footer-height {
  height: 8rem;
}
.footer-link {
  color: white;
  text-align: left;
  line-height: 1rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: max-content;
}
.blank {
  visibility: hidden;
}
.footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-links {
  display: flex;
  justify-content: space-between;
}

.input {
  background-color: white;
  border-radius: 100vmax;
  padding: 0.5rem 1rem;
  margin-inline-end: 1rem;
}
.copyright {
  color: var(--caption-clr);
}
.footer-links-wrapper {
  flex: 0.8;
  display: flex;
  justify-content: space-around;
}
.footer > .equal-columns {
  height: 8rem;
}
.media-links > * {
  transform: scale(1.15);
}
@media (max-width: 50em) {
  .footer > .equal-columns {
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 2rem;
    height: auto;
  }
  .footer > .equal-columns > * {
    row-gap: 2rem;
  }
  .footer > .equal-columns:before {
    content: "Copyright 2020. All Rights Reserved";
    color: var(--caption-clr);
  }
  .footer-links {
    row-gap: 1rem;
  }
  .copyright {
    display: none;
  }
  .footer {
    padding-inline: 5rem !important;
    height: max-content;
  }
  .footer-logos {
    flex-direction: column-reverse;
    align-items: center;
  }
  .media-links {
    width: 65dvw;
  }
  .media-links > * {
    transform: scale(1.5);
  }
  .input {
    width: 60dvw;
  }
  .footer-subscribe {
    width: max-content;
  }
}
